
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

.navbar ul {
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    list-style-position: inside;
}
.navbar li {
    display: inline;
    padding: 1rem;
}
.navbar li a {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}


.card-grid{
    display:grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
    grid-template-rows: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
    justify-content: center;
}

.card {
    width: 15rem;
    height: 15rem;
    display: flexbox;
    background-color: darkgreen;
    background-size: auto;
    word-wrap: break-word;
    padding:1em;
}

h3 {
    color: white;
    font-weight: bold;
}
.card p {
    color: white;
}
.card a {
    color: white;
    font-weight: bold;
}
