<!DOCTYPE html>
<html lang="en" class="projects">

    <head>
        <link rel="stylesheet" href="style.css">
        <title>Evan Overly</title>
    </head>

    <body>

        <div id="background">
            <div id="widgets">
                <div class="spinners">
                    <img class="spinner1" src="./img/widgets/ring1.png" aria-hidden="true" alt="Spinner Widget">
                    <img class="spinner2" src="./img/widgets/ring2.png" aria-hidden="true" alt="Spinner Widget">
                    <img class="spinner3" src="./img/widgets/ring3.png" aria-hidden="true" alt="Spinner Widget">
                </div>

                <!--<img class="crt-lines" src="./img/widgets/crt-lines.png">-->
            </div>

        </div>

        <div id="header-bar">
            <h1>Evan Overly</h1>
            <div class="subtitle" role="subtitle">Professional Software & Game Developer</div>
        </div>
        
        <img class="divider" src="./img/widgets/divider-top.png" aria-hidden=true alt="Divider">
        <div class="main-section">
            <img class="divider" src="./img/widgets/divider-bottom.png" aria-hidden=true alt="Divider">
            <ul class="button-list">
                
                <a href="https://github.com/Scrunkly-Capstone/Capstone-project"><li>
                    Nature-Dex
                </li></a>
                <a href="https://github.com/uwf-cop4864-sp2024/project-bingus"><li>
                    Feast Folio
                </li></a>
                <a href=""><li>
                    Linnen Tracking Project
                </li></a>
                <a href="https://github.com/Group-5-Spring-CEN3032/Software-Engineering-Group-5"><li>
                    RolePlaying Game Framework
                </li></a>
                <a href=""><li>
                    Eagle Scount Service Project
                </li></a>
            </ul>
            <img class="divider" src="./img/widgets/divider-top.png" aria-hidden=true alt="Divider">
        </div>
        <img class="divider" src="./img/widgets/divider-bottom.png" aria-hidden=true alt="Divider">
    </body>

</html>