<!DOCTYPE html>
<html lang="en" class="project-page">

    <head>
        <link rel="stylesheet" href="../style.css">
        <title>Evan Overly</title>
    </head>

    <body>

        <div id="background">
            <div id="widgets">
                <div class="spinners">
                    <img class="spinner1" src="../img/widgets/ring1.png" aria-hidden="true" alt="Spinner Widget">
                    <img class="spinner2" src="../img/widgets/ring2.png" aria-hidden="true" alt="Spinner Widget">
                    <img class="spinner3" src="../img/widgets/ring3.png" aria-hidden="true" alt="Spinner Widget">
                </div>

                <!--<img class="crt-lines" src="./img/widgets/crt-lines.png">-->
            </div>

        </div>

        <div id="header-bar">
            <h1>Evan Overly</h1>
            <div class="subtitle" role="subtitle">Professional Software & Game Developer</div>
        </div>
        
        <img class="divider" src="../img/widgets/divider-top.png" aria-hidden=true alt="Divider">
        <div class="main-section">
            <img class="divider" src="../img/widgets/divider-bottom.png" aria-hidden=true alt="Divider">
                <div class="text-body-full">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Proin tortor purus platea sit eu id nisi litora libero. Neque vulputate consequat ac amet augue blandit maximus aliquet congue. Pharetra vestibulum posuere ornare faucibus fusce dictumst orci aenean eu facilisis ut volutpat commodo senectus purus himenaeos fames primis convallis nisi.</p>

                    <p>Phasellus fermentum malesuada phasellus netus dictum aenean placerat egestas amet. Ornare taciti semper dolor tristique morbi. Sem leo tincidunt aliquet semper eu lectus scelerisque quis. Sagittis vivamus mollis nisi mollis enim fermentum laoreet.</p>

                    <p>Curabitur semper venenatis lectus viverra ex dictumst nulla maximus. Primis iaculis elementum conubia feugiat venenatis dolor augue ac blandit nullam ac phasellus turpis feugiat mollis. Duis lectus porta mattis imperdiet vivamus augue litora lectus arcu. Justo torquent pharetra volutpat ad blandit bibendum accumsan nec elit cras luctus primis ipsum gravida class congue.</p>

                    <p>Vehicula etiam elementum finibus enim duis feugiat commodo adipiscing tortor tempor elit. Et mollis consectetur habitant turpis tortor consectetur adipiscing vulputate dolor lectus iaculis convallis adipiscing. Nam hendrerit dignissim condimentum ullamcorper diam morbi eget consectetur odio in sagittis.</p>
                </div>
                <div class="image-box">
                    <img src="https://placehold.co/1280x720">
                </div>
            <img class="divider" src="../img/widgets/divider-top.png" aria-hidden=true alt="Divider">
        </div>
        <img class="divider" src="../img/widgets/divider-bottom.png" aria-hidden=true alt="Divider">
    </body>

</html>