h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.row {
    justify-content: center;
}

.card {
    width: 25rem;
    background-size: contain;
    word-wrap: break-word;
    margin: 0.5rem;
    overflow: hidden;
    height: auto;
    display: inline-block;
}

.card-body {
    display: block;
}

.card-img {
    max-height: 20rem;
}

.card a {
    font-weight: bold;
}

#previous-works {
    background-image: url('./textures/Cork002.jpg');
}